<!doctype html>
<html ng-app>
  <head>
    <link rel="stylesheet" href="style.css">
    <script src="../js/angular.min.js"></script>
    <script src="todo.js"></script>
    <style>
      .done-true {
        text-decoration: line-through;
        color: grey;
      }
    </style>
  </head>
  <body class="container">
  <style>
    li {list-style: none;}
  </style>
    <h2>Todo</h2>
    <div ng-controller="TodoCtrl">
      <span>{{remaining()}} of {{todos.length}} remaining</span>
      [ <a href="" ng-click="archive()">archive</a> ]
      <ul>
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form ng-submit="addTodo()" class="form">
      <div class="col-md-6">
        <input class="form-control" type="text" ng-model="todoText"  size="30"
               placeholder="add new todo here">
      </div>
      <div class="col-md-3"><br></div>
      <div class="col-md-3">
        <input class="btn btn-info btn-large btn-block" type="submit" value="add">
      </div>
      </form>
    </div>
  </body>
</html>